/*
 * Copyright (c) 2025 Analog Devices Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c2_scl_p0_30 {
	power-source = <MAX32_VSEL_VDDIOH>;
};

&i2c2_sda_p0_31 {
	power-source = <MAX32_VSEL_VDDIOH>;
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_p0_30 &i2c2_sda_p0_31>;
	pinctrl-names = "default";
	status = "okay";

	max40109: max40109@4D {
		status = "okay";
    	compatible = "adi,max40109";
    	reg = <0x4D>;
		digital-filter = <0x01>;/**/
		alert-mode = <0x00>;/**/
		temp-current = <0x01>;
		pga-pressure-gain = <0x00>;/**/
		current-source = <0x01>;
		adc-sample-rate = <0x02>; /**/
		pga-temperature-gain = <0x03>;/**/
		bridge-drive = <0x00>;
		temp-mode = <0x00>;
		drv-scale = <0x00>;/**/
		analog-filter-bw = <0x01>;/**/
		analog-output-stage = <0x00>;
		k0 = <1234>;
		k1 = <1234>;
		k2 = <0>;
		k3 = <0>;
		h0 = <0>;
		h1 = <0>;
		h2 = <0>;
		h3 = <0>;
		g0 = <0>;
		g1 = <0>;
		g2 = <0>;
		g3 = <0>;
		n0 = <0>;
		n1 = <0>;
		n2 = <0>;
		n3 = <0>;
		m0 = <0>;
		m1 = <0>;
		m2 = <0>;
		m3 = <0>;
		overpressure-threshold-pos = <0xFF>;
		underpressure-threshold-pos = <0x00>;
		overpressure-threshold-neg = <0xFF>;
		underpressure-threshold-neg = <0x00>;
		overtemp-threshold = <0xFF>;
		undertemp-threshold = <0x00>;
		overvoltage-drv = <0xFF>;
		undervoltage-drv = <0x00>;
		primary-threshold-pressure-value = <0x00>;
		hysteresis-threshold-pressure-value = <0x00>;
  };
};