/*
 * Copyright (c) 2025 Analog Devices Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c2_scl_p0_30 {
	power-source = <MAX32_VSEL_VDDIOH>;
};

&i2c2_sda_p0_31 {
	power-source = <MAX32_VSEL_VDDIOH>;
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_p0_30 &i2c2_sda_p0_31>;
	pinctrl-names = "default";
	clock-frequency = <100000>;
	status = "okay";

	max40109: max40109@4D {
		status = "okay";
    	compatible = "adi,max40109";
    	reg = <0x4D>;
		interrupt-gpios = <&gpio2 7 1>;
		digital-filter = <0x02>; // 
		alert-mode = <0x00>;//
		temp-current = <0x00>; // 
		pga-pressure-gain = <0x00>;//
		current-source = <0x01>;
		adc-sample-rate = <0x03>;//
		pga-temperature-gain = <0x00>;//
		bridge-drive = <0x04>; // 
		temp-mode = <0x00>; // 
		drv-scale = <0x00>; // 
		analog-filter-bw = <0x000>; // 
		analog-output-stage = <0x00>; //
		calib-coeff = <500000 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0>;
		overpressure-threshold-pos = <0xFF>;
		underpressure-threshold-pos = <0x00>;
		overpressure-threshold-neg = <0xFF>;
		underpressure-threshold-neg = <0x00>;
		overtemp-threshold = <0xFF>;
		undertemp-threshold = <0x00>;
		overvoltage-drv = <0xFF>;
		undervoltage-drv = <0x00>;
		primary-threshold-pressure-value = <0x00>;
		hysteresis-threshold-pressure-value = <0x00>;
  };
};