menuconfig MAX40109
    bool "MAX40109 Precision Signal Conditioning AFE"
    default y
    depends on DT_HAS_ADI_MAX40109_ENABLED
    select I2C
    help
        Enable support for the MAX40109 Precision Signal Conditioning AFE.

if MAX40109

config MAX40109_CALIBRATION
	bool "Enable calibration"
	default y
	help
	  Enable MTP Calibration

config MAX40109_TRIGGER
	bool

choice MAX40109_TRIGGER_MODE
	prompt "Sets trigger mode"
	default MAX40109_TRIGGER_NONE
	help
	  Sets thread type for the interrupt handler.

config MAX40109_TRIGGER_NONE
	bool "No trigger"

config MAX40109_TRIGGER_GLOBAL_THREAD
	bool "Use global thread"
	depends on $(dt_compat_any_has_prop,$(DT_COMPAT_ADI_MAX40109),interrupt-gpios)
	select GPIO
	select MAX40109_TRIGGER
	help
	  Use a global thread for the interrupt handler.

config MAX40109_TRIGGER_OWN_THREAD
	bool "Use own thread"
	depends on $(dt_compat_any_has_prop,$(DT_COMPAT_ADI_MAX40109),interrupt-gpios)
	select GPIO
	select MAX40109_TRIGGER
	help
	  Use a separate thread for the interrupt handler.

endchoice # MAX40109_TRIGGER_MODE

if MAX40109_TRIGGER_OWN_THREAD

config MAX40109_THREAD_PRIORITY
	int "Thread priority of the interrupt handler"
	default 1
	help
	  Thread priority of the interrupt handler. A higher number implies a
	  higher priority. The thread is cooperative and will not be interrupted by
	  another thread until execution is released.

config MAX40109_THREAD_STACK_SIZE
	int "Stack size of the interrupt handler thread"
	default 512
	help
	  Stack size of the interrupt handler thread.

endif # MAX40109_TRIGGER_OWN_THREAD


endif # MAX40109