# Copyright 2025 Analog Devices Inc.
# SPDX-License-Identifier: Apache-2.0

bool "MAX31331 ultra low-power RTC"
	default y
	depends on DT_HAS_ADI_MAX31331_ENABLED
	select I2C
	help
	  Enable the Analog Devices MAX31331 RTC multi-function device driver