/*
 * Copyright (c) 2025 Analog Devices Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <100000>;

    rtc_max31331: rtc_max31331@68{
        status = "okay";
        compatible = "adi,max31331";
        reg = <0x68>;
        interrupt-gpios = <&gpioe 13 GPIO_ACTIVE_LOW>;
    };
 };
